body{
    background-image: url("http://localhost/softgroup/task1/img/acdc.png");
    background-size:cover;
}
#searchs{
    border: 2px black solid;
    float: right;
    padding: 3px;
}
#srch{
    width: 200px;
    padding: 1px;
    margin: 2px;
}
#sumb{
    width: 200px;
    margin: 2px;
}
#show{
    width: 200px;
    height: 50px;
}
#add{
    width: 200px;
    height: 50px;
}
label{
    background: green;
    margin: 3px;
}
input{
    margin: 3px;
}
#newfoot{
    width: 200px;
    background: green;
}
#addd{
    border: 2px black solid;
    text-decoration: none;
    background: green;
    color: white;
    height: 100px;
    width: 200px;
}
h2{
    color: white;
}
.btn{
    float: right;
    width: 200px;
    background: green;
}
#ukrn{
    color: white;
}